* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(205, 222, 247);
}
.container {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}

/* .form-container {
 
} */
.form-container form {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
}
.form-container form label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.form-container form input {
  width: 500px;
  padding: 0.9rem;
  border: none;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}
#submit-btn {
  background-color: rgb(8, 94, 223);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
